body{
  color: rgb(85, 85, 85);
  text-align: center;
  font-family: sans-serif;
}

.container{
  margin: auto;
}

.products-results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 30px;
  height: 40px;
}

button{
  background-color: #06998B;
  color: white;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
}

button:focus{
  outline: 0px;
}

input{
  border: 1px solid gray;
  border-radius: 10px;
}

input:focus{
  outline: 0px;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding-bottom: 20px;
  background-color: #06998a0c;
}

.productImg {
  width: 20%;
  height: 50%;
  object-fit: cover;
  border-radius: 5px;
}

.reviewButton {
  background-color: #06998B;
  color: white;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  padding: 5px 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #06998B;
}

.headerTitle {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.headerLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.singleLink {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}

.progressBarDashboard {
  text-align: center;
}

.mostReviewedProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.averageRatingCard {
  overflow: auto;
  white-space: nowrap;
  width: 75%;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #06998a0c;
}

.averageRatingProduct {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.chart {
  height: 250px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}